# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.3.0=pypi_0
addict=2.4.0=pypi_0
aiohttp=3.8.3=pypi_0
aiosignal=1.3.1=pypi_0
albumentations=1.3.0=pypi_0
alembic=1.8.1=pypi_0
aliyun-python-sdk-core=2.13.36=pypi_0
aliyun-python-sdk-kms=2.16.0=pypi_0
antlr4-python3-runtime=4.11.0=pypi_0
appdirs=1.4.4=pypi_0
asttokens=2.1.0=pypi_0
async-timeout=4.0.2=pypi_0
asynctest=0.13.0=pypi_0
attrs=22.1.0=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.11.1=pypi_0
blas=1.0=mkl
blis=0.7.9=pypi_0
boto3=1.26.16=pypi_0
botocore=1.29.16=pypi_0
brotlipy=0.7.0=py38h27cfd23_1003
bs4=0.0.1=pypi_0
bzip2=1.0.8=h7b6447c_0
ca-certificates=2022.10.11=h06a4308_0
cachetools=5.2.0=pypi_0
catalogue=2.0.8=pypi_0
certifi=2022.9.24=py38h06a4308_0
cffi=1.15.1=py38h74dc2b5_0
charset-normalizer=2.0.4=pyhd3eb1b0_0
cityscapesscripts=2.2.1=pypi_0
click=8.1.3=pypi_0
codecov=2.1.12=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
commonmark=0.9.1=pypi_0
confection=0.0.3=pypi_0
contourpy=1.0.6=pypi_0
coverage=6.5.0=pypi_0
crcmod=1.7=pypi_0
cryptography=38.0.1=py38h9ce1e76_0
cudatoolkit=11.3.1=h2bc3f7f_2
cycler=0.11.0=pypi_0
cymem=2.0.7=pypi_0
datasets=2.5.2=pypi_0
decorator=5.1.1=pypi_0
deepspeed=0.7.2=pypi_0
dill=0.3.5.1=pypi_0
easydict=1.10=pypi_0
einops=0.6.0=pypi_0
embeddings=0.0.8=pypi_0
emoji=2.2.0=pypi_0
en-core-web-sm=3.4.0=pypi_0
exceptiongroup=1.0.4=pypi_0
executing=1.2.0=pypi_0
ffmpeg=4.3=hf484d3e_0
filelock=3.8.0=pypi_0
flake8=6.0.0=pypi_0
flask=2.0.3=pypi_0
flask-migrate=3.1.0=pypi_0
flask-sqlalchemy=2.5.1=pypi_0
fonttools=4.38.0=pypi_0
freetype=2.12.1=h4a9f257_0
frozenlist=1.3.3=pypi_0
fsspec=2022.11.0=pypi_0
ftfy=6.1.1=pypi_0
future=0.18.2=pypi_0
gast=0.5.3=pypi_0
giflib=5.2.1=h7b6447c_0
gmp=6.2.1=h295c915_3
gnutls=3.6.15=he1e5248_0
google-auth=2.14.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
greenlet=3.0.0=pypi_0
grpcio=1.50.0=pypi_0
hjson=3.1.0=pypi_0
huggingface-hub=0.14.1=pypi_0
humanfriendly=10.0=pypi_0
idna=3.4=py38h06a4308_0
imagecorruptions=1.1.2=pypi_0
imageio=2.22.4=pypi_0
importlib-metadata=5.1.0=pypi_0
importlib-resources=6.1.0=pypi_0
iniconfig=1.1.1=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
interrogate=1.5.0=pypi_0
ipython=8.6.0=pypi_0
isort=4.3.21=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.18.2=pypi_0
jieba=0.42.1=pypi_0
jinja2=3.1.2=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.2.0=pypi_0
jpeg=9e=h7f8727e_0
jsonplus=0.8.0=pypi_0
kiwisolver=1.4.4=pypi_0
kwarray=0.6.5=pypi_0
lame=3.100=h7b6447c_0
langcodes=3.3.0=pypi_0
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.38=h1181459_1
lerc=3.0=h295c915_0
libdeflate=1.8=h7f8727e_5
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libiconv=1.16=h7f8727e_2
libidn2=2.3.2=h7f8727e_0
libpng=1.6.37=hbc83047_0
libstdcxx-ng=11.2.0=h1234567_1
libtasn1=4.16.0=h27cfd23_0
libtiff=4.4.0=hecacb30_2
libunistring=0.9.10=h27cfd23_0
libwebp=1.2.4=h11a3e52_0
libwebp-base=1.2.4=h5eee18b_0
lz4-c=1.9.3=h295c915_1
mako=1.2.4=pypi_0
markdown=3.4.1=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.6.2=pypi_0
matplotlib-inline=0.1.6=pypi_0
mccabe=0.7.0=pypi_0
megatron=0.5.1=pypi_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py38h7f8727e_0
mkl_fft=1.3.1=py38hd3c417c_0
mkl_random=1.2.2=py38h51133e4_0
mmcv=1.3.17=dev_0
mmdet=2.11.0=dev_0
mmlvis=10.5.3=pypi_0
mmpycocotools=12.0.3=pypi_0
mock=4.0.3=pypi_0
model-index=0.1.11=pypi_0
modelscope=1.0.3=pypi_0
mpmath=1.3.0=pypi_0
mpu=0.23.1=pypi_0
multidict=6.0.2=pypi_0
multiprocess=0.70.13=pypi_0
murmurhash=1.0.9=pypi_0
ncurses=6.3=h5eee18b_3
nettle=3.7.3=hbbd107a_1
networkx=2.8.8=pypi_0
ninja=1.11.1=pypi_0
nltk=3.7=pypi_0
numpy=1.22.2=pypi_0
numpy-base=1.23.4=py38h31eccc5_0
oauthlib=3.2.2=pypi_0
onnx=1.7.0=pypi_0
onnxruntime=1.5.1=pypi_0
opencv-python=4.5.5.62=pypi_0
opencv-python-headless=4.6.0.66=pypi_0
openh264=2.1.1=h4ff587b_0
openmim=0.3.3=pypi_0
openssl=1.1.1s=h7f8727e_0
ordered-set=4.1.0=pypi_0
oss2=2.16.0=pypi_0
packaging=21.3=pypi_0
pai-easynlp=0.0.7=pypi_0
pandas=1.5.2=pypi_0
parso=0.8.3=pypi_0
pathy=0.10.0=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.3.0=pypi_0
pip=23.1.1=pypi_0
pluggy=1.0.0=pypi_0
preshed=3.0.8=pypi_0
prompt-toolkit=3.0.33=pypi_0
protobuf=3.19.0=pypi_0
psutil=5.9.4=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py=1.11.0=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=10.0.1=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycocotools=2.0.6=pypi_0
pycodestyle=2.10.0=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pycryptodome=3.15.0=pypi_0
pydantic=1.10.2=pypi_0
pyflakes=3.0.1=pypi_0
pygments=2.13.0=pypi_0
pyopenssl=22.0.0=pyhd3eb1b0_0
pyparsing=3.0.9=pypi_0
pyquaternion=0.9.9=pypi_0
pysocks=1.7.1=py38h06a4308_0
pytest=7.2.0=pypi_0
pythainlp=3.1.1=pypi_0
python=3.8.5=h7579374_1
python-crfsuite=0.9.8=pypi_0
python-dateutil=2.8.2=pypi_0
pytorch=1.12.1=py3.8_cuda11.3_cudnn8.3.2_0
pytorch-mutex=1.0=cuda
pytz=2022.6=pypi_0
pyvi=0.1.1=pypi_0
pywavelets=1.4.1=pypi_0
pyyaml=6.0=pypi_0
qudida=0.0.4=pypi_0
readline=8.2=h5eee18b_0
regex=2022.10.31=pypi_0
requests=2.28.1=py38h06a4308_0
requests-oauthlib=1.3.1=pypi_0
responses=0.18.0=pypi_0
rich=12.6.0=pypi_0
rouge=1.0.1=pypi_0
rsa=4.9=pypi_0
s3transfer=0.6.0=pypi_0
sacremoses=0.0.53=pypi_0
scikit-image=0.19.3=pypi_0
scikit-learn=1.1.3=pypi_0
scipy=1.9.3=pypi_0
seaborn=0.12.2=pypi_0
sentencepiece=0.1.97=pypi_0
seqeval=1.2.2=pypi_0
setuptools=65.5.0=py38h06a4308_0
simplejson=3.18.0=pypi_0
six=1.16.0=pyhd3eb1b0_1
sklearn=0.0.post1=pypi_0
sklearn-crfsuite=0.3.6=pypi_0
smart-open=5.2.1=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
spacy=3.4.3=pypi_0
spacy-legacy=3.0.10=pypi_0
spacy-loggers=1.0.3=pypi_0
sqlalchemy=1.4.39=pypi_0
sqlite=3.39.3=h5082296_0
srsly=2.4.5=pypi_0
stack-data=0.6.1=pypi_0
stanza=1.4.2=pypi_0
subword-nmt=0.3.8=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.11.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorboardx=2.5=pypi_0
termcolor=2.1.1=pypi_0
terminaltables=3.1.10=pypi_0
text2sql-lgesql=1.2.0=pypi_0
thinc=8.1.5=pypi_0
thop=0.1.1-2209072238=pypi_0
threadpoolctl=3.1.0=pypi_0
tifffile=2022.10.10=pypi_0
timm=0.6.12=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.2=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
torchaudio=0.12.1=py38_cu113
torchstat=0.0.7=pypi_0
torchvision=0.13.1=py38_cu113
tqdm=4.64.0=pypi_0
traitlets=5.5.0=pypi_0
transformers=4.29.1=pypi_0
typer=0.7.0=pypi_0
typing=3.7.4.3=pypi_0
typing_extensions=4.3.0=py38h06a4308_0
ubelt=1.2.2=pypi_0
urllib3=1.26.12=py38h06a4308_0
wasabi=0.10.1=pypi_0
wcwidth=0.2.5=pypi_0
werkzeug=2.0.3=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wtforms=2.3.3=pypi_0
xdoctest=1.1.0=pypi_0
xxhash=3.1.0=pypi_0
xz=5.2.6=h5eee18b_0
yapf=0.32.0=pypi_0
yarl=1.8.1=pypi_0
zipp=3.11.0=pypi_0
zlib=1.2.13=h5eee18b_0
zstd=1.5.2=ha4553b6_0
